---
import TitleComponent from "../components/TitleComponent.astro"
import GitHub from "../icons/GitHub.astro";
import Rocket from "../icons/Rocket.astro"
import ArrowLeftFilled from "../icons/ArrowLeftFilled.astro";
import ArrowRightFilled from "../icons/ArrowRightFilled.astro";

import { getI18N } from "../i18n";
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const widthSliders = 'w-[700%]' // 100% · numberOfSliders === 7
---

<TitleComponent title={i18n?.BENTO_TITLES.PROJECTS} />

<div class="w-full overflow-hidden">
    <div class={`relative flex ${widthSliders}`}>
        <div id="slider" class={`carruseles ${widthSliders} flex max-h-max`}>
            <section class={`slider-section flex flex-col m-2 w-full`}>
                <img src='/imgs/jump2digital.webp' class="max-h-40 w-full object-cover rounded-md" alt="Jump2Digital project">
                <div class="flex justify-between pt-1 pb-0.5">
                    <p class="text-xl ml-2 line-clamp-1">{i18n?.PROJECTS[7].name}</p>
                    <div class="flex gap-x-2 h-fit mr-2 pt-1">
                        <p class="bg-[#f9fbff] dark:bg-[#23272f] text-[#07799e] dark:text-[#5ed3f3] rounded-full px-1.5 text-xs">{i18n?.PROJECTS[7].technologies[0]}</p>
                        <p class="bg-[#f9fbff] dark:bg-[#23272f] text-[#d8292b] dark:text-[#ff6060] font-semibold underline rounded-full px-1.5 text-xs">{i18n?.PROJECTS[7].technologies[1]}</p>
                        <p class="bg-[#f9fbff] dark:bg-[#23272f] text-[#1c3b56] dark:text-[#59a7e2] rounded-full px-1.5 text-xs">{i18n?.PROJECTS[7].technologies[2]}</p>
                    </div>
                </div>
                <div class="flex justify-between mr-2">
                    <p class="text-[10px] pt-1 mx-2 line-clamp-3 overflow-y-scroll no-scrollbar">{i18n?.PROJECTS[7].description}</p>
                    <div class="flex flex-col gap-y-2">
                        <a href={i18n?.PROJECTS[7].github} target="_blank" class="flex items-center justify-center" title="Jump2Digital Repository GitHub - Albert Lanza Rio (AlbertLnz)">
                            <GitHub class="size-6" />
                        </a>
                        <a href={i18n?.PROJECTS[7].deploy} target="_blank" class="flex items-center justify-center" title="Jump2Digital Deploy GitHub - Albert Lanza Rio (AlbertLnz)">
                            <Rocket class="size-6" />
                        </a>
                    </div>
                </div>
            </section>
            <section class={`slider-section flex flex-col m-2 w-full`}>
                <img src='/imgs/itaProfiles.webp' class="max-h-40 w-full object-cover rounded-md" alt="itaProfiles project">
                <div class="flex justify-between pt-1 pb-0.5">
                    <p class="text-xl ml-2 line-clamp-1">{i18n?.PROJECTS[6].name}</p>
                    <div class="flex gap-x-2 h-fit mr-2 pt-1">
                        <p class="bg-[#f9fbff] dark:bg-[#23272f] text-[#07799e] dark:text-[#5ed3f3] font-semibold underline rounded-full px-1.5 text-xs">{i18n?.PROJECTS[6].technologies[0]}</p>
                        <p class="bg-[#f9fbff] dark:bg-[#23272f] text-[#2960a7] font-semibold underline rounded-full px-1.5 text-xs">{i18n?.PROJECTS[6].technologies[1]}</p>
                        <p class="bg-[#f9fbff] dark:bg-[#23272f] text-[#d8292b] rounded-full px-1.5 text-xs">{i18n?.PROJECTS[6].technologies[2]}</p>
                    </div>
                </div>
                <div class="flex justify-between mr-2">
                    <p class="text-[10px] pt-1 mx-2 line-clamp-3 overflow-y-scroll no-scrollbar">{i18n?.PROJECTS[6].description}</p>
                    <div class="flex flex-col gap-y-2">
                        <a href={i18n?.PROJECTS[6].github} target="_blank" class="flex items-center justify-center" title="itaProfiles Repository GitHub - Albert Lanza Rio (AlbertLnz)">
                            <GitHub class="size-6" />
                        </a>
                        <a href={i18n?.PROJECTS[6].deploy} target="_blank" class="flex items-center justify-center" title="itaProfiles Deploy GitHub - Albert Lanza Rio (AlbertLnz)">
                            <Rocket class="size-6" />
                        </a>
                    </div>
                </div>
            </section>
            <section class={`slider-section flex flex-col m-2 w-full`}>
                <img src='/imgs/restaurant.webp' class="max-h-40 w-full object-cover rounded-md" alt="ReserveEat project">
                <div class="flex justify-between pt-1 pb-0.5">
                    <p class="text-xl ml-2 line-clamp-1">{i18n?.PROJECTS[5].name}</p>
                    <div class="flex gap-x-2 h-fit mr-2 pt-1">
                        <p class="bg-[#f9fbff] dark:bg-[#23272f] text-[#359271] rounded-full px-1.5 text-xs">{i18n?.PROJECTS[5].technologies[0]}</p>
                        <p class="bg-[#f9fbff] dark:bg-[#23272f] text-[#d8292b] font-semibold underline rounded-full px-1.5 text-xs">{i18n?.PROJECTS[5].technologies[1]}</p>
                    </div>
                </div>
                <div class="flex justify-between mr-2">
                    <p class="text-[10px] pt-1 mx-2 line-clamp-3 overflow-y-scroll no-scrollbar">{i18n?.PROJECTS[5].description}</p>
                    <div class="flex flex-col gap-y-2">
                        <a href={i18n?.PROJECTS[5].github} target="_blank" class="flex items-center justify-center" title="ReserveEat Repository GitHub - Albert Lanza Rio (AlbertLnz)">
                            <GitHub class="size-6" />
                        </a>
                        <a href={i18n?.PROJECTS[5].deploy} target="_blank" class="flex items-center justify-center" title="ReserveEat Deploy GitHub - Albert Lanza Rio (AlbertLnz)">
                            <Rocket class="size-6" />
                        </a>
                    </div>
                </div>
            </section>
            <section class={`slider-section flex flex-col m-2 w-full`}>
                <img src='/imgs/itaLanding.webp' class="max-h-40 w-full object-cover rounded-md" alt="itaLanding project">
                <div class="flex justify-between pt-1 pb-0.5">
                    <p class="text-xl ml-2 line-clamp-1">{i18n?.PROJECTS[4].name}</p>
                    <div class="flex gap-x-2 h-fit mr-2 pt-1">
                        <p class="bg-[#f9fbff] dark:bg-[#23272f] text-[#07799e] dark:text-[#5ed3f3] font-semibold underline rounded-full px-1.5 text-xs">{i18n?.PROJECTS[4].technologies[0]}</p>
                        <p class="bg-[#f9fbff] dark:bg-[#23272f] text-[#2960a7] font-semibold underline rounded-full px-1.5 text-xs">{i18n?.PROJECTS[4].technologies[1]}</p>
                        <p class="bg-[#f9fbff] dark:bg-[#23272f] text-[#d8292b] rounded-full px-1.5 text-xs">{i18n?.PROJECTS[4].technologies[2]}</p>
                    </div>
                </div>
                <div class="flex justify-between mr-2">
                    <p class="text-[10px] pt-1 mx-2 line-clamp-3 overflow-y-scroll no-scrollbar">{i18n?.PROJECTS[4].description}</p>
                    <div class="flex flex-col gap-y-2">
                        <a href={i18n?.PROJECTS[4].github} target="_blank" class="flex items-center justify-center" title="itaLanding Repository GitHub - Albert Lanza Rio (AlbertLnz)">
                            <GitHub class="size-6" />
                        </a>
                        <a href={i18n?.PROJECTS[4].deploy} target="_blank" class="flex items-center justify-center" title="itaLanding Deploy GitHub - Albert Lanza Rio (AlbertLnz)">
                            <Rocket class="size-6" />
                        </a>
                    </div>
                </div>
            </section>
            <section class={`slider-section flex flex-col m-2 w-full`}>
                <img src='/imgs/crudReduxToolkit.webp' class="max-h-40 w-full object-cover rounded-md" alt="crudReduxToolkit project">
                <div class="flex justify-between pt-1 pb-0.5">
                    <p class="text-xl ml-2 line-clamp-1">{i18n?.PROJECTS[3].name}</p>
                    <div class="flex gap-x-2 h-fit mr-2 pt-1">
                        <p class="bg-[#f9fbff] dark:bg-[#23272f] text-[#07799e] dark:text-[#5ed3f3] font-semibold underline rounded-full px-1.5 text-xs">{i18n?.PROJECTS[3].technologies[0]}</p>
                        <p class="bg-[#f9fbff] dark:bg-[#23272f] text-[#6f47b6] font-semibold underline rounded-full px-1.5 text-xs">{i18n?.PROJECTS[3].technologies[1]}</p>
                    </div>
                </div>
                <div class="flex justify-between mr-2">
                    <p class="text-[10px] pt-1 mx-2 line-clamp-3 overflow-y-scroll no-scrollbar">{i18n?.PROJECTS[3].description}</p>
                    <div class="flex flex-col gap-y-2">
                        <a href={i18n?.PROJECTS[3].github} target="_blank" class="flex items-center justify-center" title="CRUD Redux Toolkit Repository GitHub - Albert Lanza Rio (AlbertLnz)">
                            <GitHub class="size-6" />
                        </a>
                        <a href={i18n?.PROJECTS[3].deploy} target="_blank" class="flex items-center justify-center" title="CRUD Redux Toolkit Deploy GitHub - Albert Lanza Rio (AlbertLnz)">
                            <Rocket class="size-6" />
                        </a>
                    </div>
                </div>
            </section>
            <section class={`slider-section flex flex-col m-2 w-full`}>
                <img src='/imgs/footballApp.webp' class="max-h-40 w-full object-cover rounded-md" alt="FootballApp project">
                <div class="flex justify-between pt-1 pb-0.5">
                    <p class="text-xl ml-2 line-clamp-1">{i18n?.PROJECTS[2].name}</p>
                    <div class="flex gap-x-2 h-fit mr-2 pt-1">
                        <p class="bg-[#f9fbff] dark:bg-[#23272f] text-[#d8292b] font-semibold underline rounded-full px-1.5 text-xs">{i18n?.PROJECTS[2].technologies[0]}</p>
                        <p class="bg-[#f9fbff] dark:bg-[#23272f] text-[#df2d27] font-semibold underline rounded-full px-1.5 text-xs">{i18n?.PROJECTS[2].technologies[1]}</p>
                    </div>
                </div>
                <div class="flex justify-between mr-2">
                    <p class="text-[10px] pt-1 mx-2 line-clamp-3 overflow-y-scroll no-scrollbar">{i18n?.PROJECTS[2].description}</p>
                    <div class="flex flex-col gap-y-2">
                        <a href={i18n?.PROJECTS[2].github} target="_blank" class="flex items-center justify-center" title="Football App Managment Repository GitHub - Albert Lanza Rio (AlbertLnz)">
                            <GitHub class="size-6" />
                        </a>
                        <a href={i18n?.PROJECTS[2].deploy} target="_blank" class="flex items-center justify-center" title="Football App Managment Deploy GitHub - Albert Lanza Rio (AlbertLnz)">
                            <Rocket class="size-6" />
                        </a>
                    </div>
                </div>
            </section>
            <section class={`slider-section flex flex-col m-2 w-full`}>
                <img src='/imgs/diceAPI.webp' class="max-h-40 w-full object-cover rounded-md" alt="diceAPI project">
                <div class="flex justify-between pt-1 pb-0.5">
                    <p class="text-xl ml-2 line-clamp-1">{i18n?.PROJECTS[1].name}</p>
                    <div class="flex gap-x-2 h-fit mr-2 pt-1">
                        <p class="bg-[#f9fbff] dark:bg-[#23272f] text-[#d8292b] font-semibold underline rounded-full px-1.5 text-xs">{i18n?.PROJECTS[1].technologies[0]}</p>
                    </div>
                </div>
                <div class="flex justify-between mr-2">
                    <p class="text-[10px] pt-1 mx-2 line-clamp-3 overflow-y-scroll no-scrollbar">{i18n?.PROJECTS[1].description}</p>
                    <div class="flex flex-col gap-y-2">
                        <a href={i18n?.PROJECTS[1].github} target="_blank" class="flex items-center justify-center" title="Dice API Repository GitHub - Albert Lanza Rio (AlbertLnz)">
                            <GitHub class="size-6" />
                        </a>
                        <a href={i18n?.PROJECTS[1].deploy} target="_blank" class="flex items-center justify-center"  title="Dice API Deploy GitHub - Albert Lanza Rio (AlbertLnz)">
                            <Rocket class="size-6" />
                        </a>
                    </div>
                </div>
            </section>
    
        </div>
    </div>
</div>
<div id="btn-left" class="flex text-black absolute top-1/2 rounded-full cursor-pointer transform -translate-y-[100%] transition duration-500 ease select-none left-[5%] hover:bg-slate-700 hover:text-white">
    <ArrowLeftFilled />
</div>
<div id="btn-right" class="flex text-black absolute top-1/2 rounded-full cursor-pointer transform -translate-y-[100%] transition duration-500 ease select-none right-[5%] hover:bg-slate-700 hover:text-white">
    <ArrowRightFilled />
</div>

<script>
    document.addEventListener("astro:page-load", () => {
        const btnLeft = document.getElementById("btn-left"),
          btnRight = document.getElementById("btn-right"),
          slider = document.querySelector("#slider") as HTMLElement,
          sliderSection = document.querySelectorAll(".slider-section");

        let counter = 0,
            widthImg = 100 / sliderSection.length;

        btnLeft?.addEventListener("click", () => moveToLeft());
        btnRight?.addEventListener("click", () => moveToRight());

        function moveToRight() {
            counter = (counter + 1) % sliderSection.length;
            const operacion = widthImg * counter;
            slider.style.transform = `translate(-${operacion}%)`;
            slider.style.transition = "transform ease .6s";
        }  

        function moveToLeft() {
            counter = (counter - 1 + sliderSection.length) % sliderSection.length;
            const operacion = widthImg * counter;
            slider.style.transform = `translate(-${operacion}%)`;
            slider.style.transition = "transform ease .6s";
        }   
    })
</script>

<style>
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
</style>