---
import { getI18N } from '../i18n';
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<div class="flex flex-wrap gap-1 items-center justify-center h-full">
    <p class="text-[10px] py-0.5 px-2 rounded-full bg-[#7dd6af] dark:bg-[#346751]">{i18n?.SLOGAN.abiliti1}</p>
    <p class="text-[10px] py-0.5 px-2 rounded-full bg-[#b5a3eb] dark:bg-[#5C469C]">{i18n?.SLOGAN.abiliti2}</p>
    <p class="text-[10px] py-0.5 px-2 rounded-full bg-[#a0d2e7] dark:bg-[#327592]">{i18n?.SLOGAN.abiliti3}</p>
    <p class="text-[10px] py-0.5 px-2 rounded-full bg-[#d8b987] dark:bg-[#795a29]">{i18n?.SLOGAN.abiliti4}</p>
    <p class="text-[10px] py-0.5 px-2 rounded-full bg-[#e2aae5] dark:bg-[#712B75]">{i18n?.SLOGAN.abiliti5}</p>
    <p class="text-[10px] py-0.5 px-2 rounded-full bg-[#e2eeab] dark:bg-[#657328]">{i18n?.SLOGAN.abiliti6}</p>
</div>