---
import { getCollection } from "astro:content"
import BlogLayout from "@/layouts/BlogLayout.astro"
import BlogCard2 from "@/components/BlogCard2.astro"
import BlogAside from "@/components/BlogAside.astro"

export function getStaticPaths() {
  return [
    { params: { pageLang: 'en' } },
    { params: { pageLang: 'es' } },
    { params: { pageLang: 'ca' } },

  ]
}
const { pageLang } = Astro.params;

const allPosts = await getCollection('posts')
const posts = allPosts.filter((project) => project.data.language === pageLang)
---

<BlogLayout title="Blog" description="SEO description for blog section">
  
  <section id="header">
    a
  </section>

  <section id="aside">
    <BlogAside posts={posts} />
  </section>

  <section id="content" class="grid grid-cols-1 xl:grid-cols-2 grid-flow-row place-items-center gap-6 overflow-x-hidden">
    {
      posts.map((project) => (
        <BlogCard2
          id={project.data.id}
          title={project.data.title}
          date={project.data.date}
          tag={project.data.tag}
          author={project.data.author}
        />
      ))
    }
  </section>

</BlogLayout>
