---
import LanguageAndThemeSelector from '@/components/LanguageAndThemeSelector.astro';
import ProjectsLayout from '@/layouts/ProjectsLayout.astro'
import { getCollection } from 'astro:content'
import IPad from "@/assets/apple/IPad.astro"
import ProjectsPageCardIPad from '@/components/ProjectsPageCardIPad.astro';

export function getStaticPaths() {
  return [
    { params: { pageLang: 'en' } },
    { params: { pageLang: 'es' } },
    { params: { pageLang: 'ca' } },

  ]
}

const { pageLang } = Astro.params;
const allProjects = await getCollection('projects')
---

<ProjectsLayout>
  <section id="header" class="grid grid-cols-[0.2fr_0.6fr_0.2fr] gap-x-2 p-0">
    <a class="flex items-center justify-center rounded-l-[8px] text-lg transition-colors duration-500 hover:bg-black/20 hover:underline" href={`/${pageLang}`}>
      Back
    </a>
    <h1 class="font-semibold text-2xl text-center py-[2rem]">AlbertLnz's Projects</h1>
    <LanguageAndThemeSelector path="/projects" />
  </section>

  <section id="aside" class="flex flex-col">
    {
      allProjects.map((project) => (
        <button id={`project-${project.data.id}`}>{project.data.name}</button>
      ))
    }
  </section>

  <section id="content" class="p-0 bg-slate-600 h-full max-h-full overflow-hidden">
    <IPad svgClass="" contentClass="bg-slate-900 p-4 flex gap-x-4">
      {
        allProjects.map((project) => (
          <ProjectsPageCardIPad
            id = {project.data.id}
            name = {project.data.name}
            author = {project.data.author}
            img = {project.data.img}
            shortDescription = {project.data.shortDescription}
            shortTechs = {project.data.shortTechs}
            links = {project.data.links}
          />
        ))
      }
    </IPad>
  </section>
</ProjectsLayout>

<script>
  document.addEventListener('astro:page-load', function() {
    const $$ = (els: string): HTMLElement[] => Array.from(document.querySelectorAll(els))

    const $$buttons = $$('button[id^="project-"]');
    const $$projects = $$('article[id^="project-"]');

    $$buttons.forEach((button) => {
      button.addEventListener('click', () => {
        $$projects.forEach((project) => {
          if (button.id !== project.id) {
            project.hidden = true
          } else {
            project.hidden = false
          }
        })
      })
    })
  })
</script>