---
import '@/styles/postContent.css'
import LanguageAndThemeSelector from '@/components/LanguageAndThemeSelector.astro'
import PostLayout from '@/layouts/PostLayout.astro'
import { getCollection, render } from 'astro:content'
import { blogCardAssignColor } from '@/data/blogCardAssignColor'

export async function getStaticPaths() {
  const posts = await getCollection('posts')
  const paths = []

  for (const post of posts) {
    const { id, title, language } = post.data
    const titleCleaned = title.normalize('NFD').replace(/[\u0300-\u036f]/g, '').replace(/[^\w\s-]/g, '').replaceAll(' ', '-').toLowerCase()
    paths.push({
      params: {
        pageLang: language,
        postIdTitle: `${id}-${titleCleaned}`,
      },
    })
  }
  return paths
}

const posts = await getCollection('posts')
const { pageLang, postIdTitle } = Astro.params
const [id] = postIdTitle.split('/')[0]
const post = posts.find((post) => post.data.id === Number(id) && post.data.language === pageLang)

const { Content } = await render(post)

const { backgroundPost } = blogCardAssignColor[post?.data.tag]
---

<PostLayout class="relative">
  <article id="post" class={`relative overflow-hidden bg-gradient-to-b ${backgroundPost} to-[120px] to-[#171717]`}>
    <div class="flex flex-col items-center justify-center mb-12">
      <h1 class="font-semibold text-2xl text-center">
        {post.data.title}
      </h1>
      <p class="italic">
        {post.data.description}
      </p>
      <h3
        transition:name={postIdTitle}
        class="absolute top-0 left-0 p-8 cust-font font-bold opacity-50 group-hover:opacity-100 text-6xl z-0">
          {id}
      </h3>
    </div>

    <div id="content">
      <Content />
      <footer class="pt-4 pb-2 px-8 flex justify-between items-center">
        <button class="opacity-65 hover:opacity-100 hover:font-semibold">Share</button>
        <p class="font-bold">@{post.data.author}</p>
        <button id="scrollToTop" class="opacity-65 hover:opacity-100 hover:font-semibold">Up</button>
      </footer>
    </div>

    <div class="absolute top-0 right-0 p-6">
      <LanguageAndThemeSelector path={``} />
    </div>
  </article>
</PostLayout>

<script>
  const $ = (el: string): HTMLElement | null => document.querySelector(el)
  const $scrollToTop = $(`#scrollToTop`)

  if($scrollToTop) {
    $scrollToTop.addEventListener('click', () => {
      window.scrollTo({
        top: 0,
        behavior: 'smooth',
      })
    })
  }
</script>