---
import ArrowUp from '@/assets/symbols/ArrowUp.astro'
import { blogCardAssignColor } from '@/data/blogCardAssignColor'

const { id, title, date, tag, author } = Astro.props

const titleCleaned = title.normalize('NFD').replace(/[\u0300-\u036f]/g, '').replace(/[^\w\s-]/g, '').replaceAll(' ', '-').toLowerCase()
const postUrl = id+'-'+titleCleaned

const { border, backgroundPosts } = blogCardAssignColor[tag as keyof typeof blogCardAssignColor]
---
<div id=`post-${id}` class={`card relative overflow-hidden border ${border} hover:cursor-pointer hover:border-double hover:border-white/30 w-full h-full rounded-md m-2 group bg-gradient-to-b from-[#171717] via-30% via-[#171717] to-100% ${backgroundPosts}`}>
  
  <h2 class="text-lg absolute top-0 m-3 z-10 opacity-50 group-hover:opacity-100">{title}</h2>

  <div class="flex items-end z-0 pl-4 pt-12">
    <p
      transition:name={postUrl}
      class="cust-font font-bold opacity-50 group-hover:opacity-100 text-6xl">
        {id}
    </p>
    <p class="mb-1 ml-2 opacity-50 group-hover:opacity-80">{tag}</p>
  </div>

  <p class="cust-font absolute top-0 right-0 m-2 opacity-50 group-hover:opacity-80">
    {date}
  </p>

  <p class="absolute bottom-0 font-semibold text-xs right-0 m-2 opacity-50 group-hover:opacity-80">
    {author}
  </p>

  <div class="absolute bottom-[-100%] w-full flex items-center justify-center -z-10 group group-hover:bottom-0 group-hover:z-30 transition-all duration-500 ease-in-out">
    <a href={`posts/${postUrl}`} class="w-full h-32 rounded-t-lg">
      <button class="flex flex-col items-center pb-4 justify-end w-full h-full">
        <ArrowUp class="size-4" />
      </button>
    </a>
  </div>
</div>

<style>
/* TO-DO: IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
  .cust-font {
    font-family: 'Lora', arial;
  }
</style>
