---
import { prepareCorrectSingleRoutePath } from '@/data/prepareCorrectRoutePaths'
import { render } from 'astro:content'
import Reminder_dark from "@/assets/apple/Reminder_dark.astro"

const { project } = Astro.props
const { Content } = await render(project)

const path = prepareCorrectSingleRoutePath(project)
---

<article id={`project-${project.data.id}`} class="z-20 relative grid grid-cols-[0.3fr_0.7fr] min-w-full h-full">
  
  <div class="flex flex-col items-center justify-start">
    <img
    class="size-28 rounded-lg mt-2"
    src={'https://www.davidhechler.com/wp-content/uploads/2016/07/500x500-dummy-image.jpg'}
    alt={project.data.title}
    />

  </div>


  <div class="flex flex-col justify-start items-center">
    <p class="text-2xl">{project.data.title}</p>
    <ul class="grid grid-cols-6">
      {
        project.data.techs.map((tech: string) => {
          return (
            <li>{tech}</li>
          )
        })
      }
      <li>
        <Reminder_dark class="size-10" />
      </li>
    </ul>
    <p>{project.data.links.github}</p>
    <p>{project.data.links.deploy}</p>
  </div>

  <div class="col-span-2">
    <Content />
  </div>

  <button>
    <a href={`projects/${path}`}>
      Get more info
    </a>
  </button>

  <h3 class="absolute bottom-0 left-0 right-0 rounded-full flex justify-self-center items-center justify-center bg-[#5E5E5E] bg-opacity-30 text-center text-2xl px-8 py-2 my-4">test</h3>
  <p class="absolute bottom-0 right-0 p-6">{project.data.author}</p>
</article>

<style>
  article {
    font-family: 'San Francisco', sans-serif;
  }
</style>