---
import { getCollection } from 'astro:content'
import AstroIcon from '@/assets/icons/AstroIcon.astro'
import Python from '@/assets/icons/Python.astro'
import GitHub from '@/assets/icons/GitHub.astro'
import ArrowRight from '@/assets/symbols/ArrowRight.astro'
import { prepareCorrectSingleRoutePath } from '@/data/prepareCorrectRoutePaths'
import { getLangFromUrl } from '@/i18n/utils'
import { projectsTechs } from '@/data/projectTechs'

const lang = getLangFromUrl(Astro.url)
const projects = await getCollection('projects')
const filteredProjects = projects.filter(
  (project) => project.data.language === lang
)
---

<article class=''>
  <ul class='flex flex-col items-center justify-start gap-y-2 w-full max-h-fit'>
    {
      filteredProjects
        .sort(() => 0.5 - Math.random())
        .slice(0, 3)
        .map((project) => {
          const projectPath = prepareCorrectSingleRoutePath(project)

          return (
            <li
              class={`
          border border-section-secondary-border-light dark:border-section-secondary-border-dark
          relative list-none rounded-[6px] w-full group
        `}
            >
              <h3 class='px-6 mt-2 mb-1 text-lg font-semibold lowercase tracking-wide'>
                {project.data.title}
              </h3>
              <p
                class={`
            text-secondary-light dark:text-tertiary-dark
            text-xs mx-8 text-center mb-4 line-clamp-1
          `}
              >
                {project.data.shortDescription}
              </p>

              <div class='flex items-center justify-center gap-x-4 mb-2 -z-10 pointer-events-none'>
                {project.data.techs.slice(0, 2).map((tech) => {
                  const techObj = projectsTechs[tech]

                  return (
                    <div
                      class={`
                  bg-black/10 dark:bg-[#26262699]  
                  text-tertiary-light dark:text-tertiary-dark

                    z-50 flex items-center justify-center gap-x-1 rounded-[6px] px-2 py-0.5
                  `}
                    >
                      {tech}
                      {techObj && <techObj.icon class='size-3' />}
                    </div>
                  )
                })}
              </div>

              <a
                href={project.data.links.github}
                target='_blank'
                class='absolute top-3 right-3 z-50'
              >
                <GitHub className='size-4 fill-black/80 hover:fill-black dark:fill-[#D1D5DB] dark:hover:fill-white' />
              </a>

              <a
                href={`${lang}/projects/${projectPath}`}
                class='absolute top-0 h-full w-full'
              />

              <ArrowRight class='absolute -z-10 bottom-0 right-0 mr-3 mb-2 items-flex w-fit size-4 stroke-current group-hover:stroke-black group-hover:dark:stroke-white' />
            </li>
          )
        })
    }
  </ul>
</article>
