---
const { company, title, period, link } = Astro.props
const titleStyle = title === 'Current available to work' ? '#22C55E' : '#D1D5DB'
---

<li class="h-auto mb-4">
  <div class="relative top-0 mt-2 space-x-3 flex items-center justify-center w-fit h-fit">
    <div class="absolute -start-[6.5px] h-3 w-3 rounded-full border border-neutral-600 bg-neutral-800"></div>
    <time class="text-xs text-neutral-400 font-semibold">{period}</time>
  </div>

  <div class="ml-3.5 mt-3 flex items-center justify-start gap-x-1">
    <h3 class={`text-[${titleStyle}] text-xs`}>{title}</h3>
    <a href={link} target="_blank" rel="noopener" class="group text-pretty text-sm">
      <span class="text-[10px] italic text-[#A3A3A3]">({company})</span>
    </a>
  </div>
</li>