---
import { PRODUCTION, IP_INFO_API, OPEN_WEATHER_API_URL, OPEN_WEATHER_API_KEY } from "astro:env/server"
import { assignIconWeatherArr } from '@/data/weatherIcon.js'

let timestamp, timezone, city, temp, humidity, wind, mainWeather, descriptWeather

if (PRODUCTION) {
  ({
    timestamp,
    timezone,
    city,
    temp,
    humidity,
    wind,
    mainWeather,
    descriptWeather,
  } = await fetchData() || {})
} else {
  timestamp = 1727244822
  timezone = 7200
  city = 'Barcelona'
  temp = 36.6
  wind = 4.63
  humidity = 41
  mainWeather = 'Mist'
  descriptWeather = 'few clouds'
}

async function fetchData() {
  try {
    const res = await fetch(IP_INFO_API)
    const data = await res.json()
    const res2 = await fetch(`${OPEN_WEATHER_API_URL}q=${data.city}&units=metric&appid=${OPEN_WEATHER_API_KEY}`)
    const data2 = await res2.json()

    return {
      timestamp: data2.dt,
      timezone: data2.timezone,
      city: data2.name,
      temp: data2.main.temp,
      humidity: data2.main.humidity,
      wind: data2.wind.speed,
      mainWeather: data2.weather[0].main,
      descriptWeather: data2.weather[0].description,
    }
  } catch (error) {
    console.error('Error fetching data:', error)
    return {}
  }
}

const timezoneHours = timezone / 3600
const date = new Date(timestamp * 1000)
const hours = date.getUTCHours() + timezoneHours
const isDay = hours < 21 ? 'day' : 'night'
const roundTemp = Math.round(temp)

let descriptWeatherFilter = ''
const iconsWithDoubleIcons = ['clear sky', 'few clouds', 'scattered clouds']
if (iconsWithDoubleIcons.includes(descriptWeather)){
  descriptWeatherFilter = isDay === 'day' ? `${descriptWeather}_day` : `${descriptWeather}_night`
} else {
  descriptWeatherFilter = descriptWeather
}

let iconWeather = assignIconWeatherArr.find((weather) => weather.name === descriptWeatherFilter) as typeof assignIconWeatherArr[0]
if (!iconWeather) iconWeather = assignIconWeatherArr.find((weather) => weather.name === 'unknown') as typeof assignIconWeatherArr[0]
---

<section id="weather" class="p-0 flex items-center justify-center bg-gradient-to-b from-[#074A8E] to-[#5596D8] dark:from-[#020518] dark:to-[#283555]">

  <div class="grid grid-cols-[70%_30%]  rounded-[22px] w-full h-full  py-2 px-4">

    <h6 class="flex self-center text-[14px] font-semibold">{city}</h6>
    {<iconWeather.component class="size-6 flex justify-self-end" color="#fff" />}

    <h5 class="ml-1 text-[24px] font-bold">{roundTemp}º</h5>
    <p class="flex justify-self-end self-start font-medium">{mainWeather}</p>

    <p class="ml-1 text-[10px] flex self-center">· Wind:</p>
    <p class="text-[10px] flex justify-self-end self-center">{wind} m/s</p>

    <p class="ml-1 text-[10px] flex self-center">· Humidity:</p>
    <p class="text-[10px] flex justify-self-end self-center">{humidity} %</p>

    <p class="ml-1 text-[10px] flex self-center">· 
      <span id="hours" data-timezone={timezone}></span>
      :
      <span id="minutes"></span>
      h / 24h:
    </p>
    <p class="text-[10px] flex justify-self-end self-center"></p>

    <div class="flex items-center justify-center place-content-center rounded-full bg-[#336BA3] dark:bg-[#0E1730] col-span-2 relative">
      <div id="progressBar" class="absolute top-0 left-0 h-full bg-[#85A7C9] dark:bg-[#606374] rounded-full"></div>
    </div>
  </div>
</section>

<script>
  // Client-side rendering for updating hours, minutes & progressBar
  const SECOND = 1000
  const totalSecondsInDay = 24 * 60 * 60

  const $ = (el: string): HTMLElement | null => document.querySelector(el)
  const $hours = $(`#hours`)
  const $minutes = $(`#minutes`)
  const $progressBar = $(`#progressBar`)

  const timezoneHours = $hours ? Number($hours.dataset.timezone) / 3600 : 2 // default: UTC-2

  const updateTime = () => {
    const date = new Date()
    const hours = (date.getUTCHours() + timezoneHours) % 24
    const minutes = date.getUTCMinutes().toString().padStart(2, '0')
    const secondsElapsedUntilNow = (date.valueOf() / 1000) % totalSecondsInDay
    const progress = (secondsElapsedUntilNow / totalSecondsInDay) * 100

    $hours ? $hours.innerHTML = `&nbsp;${hours.toString().padStart(2, '0')}`  : '00'
    $minutes ? $minutes.innerHTML = minutes : '00'
    $progressBar ? $progressBar.style.width = `${progress}%` : ''
  }

  const scheduleUpdate = () => {
    const now = new Date()
    const millisecondsUntilNextMinute = (60 - now.getUTCSeconds()) * SECOND

    setTimeout(() => {
      updateTime()
      scheduleUpdate()
    }, millisecondsUntilNextMinute)
  }

  updateTime()
  scheduleUpdate()
</script>
